Package: cluster-utils
Version: 0.0.2
Depends: pymol, finger, tcpdump, imagemagick, w32codecs, mencoder, mplayer, zsh, bash, csh, ash, queue-utils, rgang
Essential: no
Priority: standard
Section: corvix
Maintainer: Gerolf Ziegenhain <gerolf@corvix.eu>
Homepage: corvix.eu
Architecture: all
Description: cluster utility packages
 This is a meta-package.
