Package: cluster-sci
Version: 0.0.1
Depends: texlive-latex-extra, python-gnuplot, gs, xpdf, gv, netpbm, emacs, octave3.0, gromacs, gnuplot, ipython, mencoder, mplayer, povray, xfig, inkscape, pdftk, python-tables, libhdf5-mpich-dev, hdf5-tools, python-scipy, python-matplotlib, libhdf5-doc, h5utils
Essential: no
Priority: standard
Section: corvix
Maintainer: Gerolf Ziegenhain <gerolf@corvix.eu>
Homepage: corvix.eu
Architecture: all
Description: cluster scientific packages
 -
