#!/bin/zsh
# (C)opyleft Gerolf Ziegenhain <gerolf@ziegenhain.com> 2008

DESCRIPTION=""
HOMEPAGE=""
SRC_URI=""

LICENSE=""

DEPEND=""

USE=""

src_preinst() {
}

src_unpack() {
}

src_configure() {
}

src_compile() {
}

src_test() {
}

src_install() {
}

src_uninstall() {
}

src_postinst() {
}                                                                       

