Package: corvix-sci
Version: 0.0.2
Depends: grace, gromacs, pymol
Essential: no
Priority: standard
Section: corvix
Maintainer: Gerolf Ziegenhain <gerolf@corvix.eu>
Homepage: corvix.eu
Architecture: all
Description: Short Description of the Package
 And here comes a long text with some shit.
