Package: corvix-sci
Version: 0.0.2
Depends: grace, gromacs, pymol, units, ipython, gnuplot, python-matplotlib, python-scipy, python-tables, python-gd, g3data
Essential: no
Priority: standard
Section: corvix
Maintainer: Gerolf Ziegenhain <gerolf@corvix.eu>
Homepage: corvix.eu
Architecture: all
Description: Short Description of the Package
 And here comes a long text with some shit.
