Package: corvix-security
Version: 0.0.1
Depends: gpg, pamusb, gnupg-agent, pamusb-tools
Essential: no
Priority: standard
Section: corvix
Maintainer: Gerolf Ziegenhain <gerolf@corvix.eu>
Homepage: corvix.eu
Architecture: all
Description: security stuff
 -
