Package: nis-client
Version: 0.0.1
Depends: nis
Replaces: nis
Essential: no
Priority: standard
Section: corvix
Maintainer: Gerolf Ziegenhain <gerolf@corvix.eu>
Homepage: corvix.eu
Architecture: all
Description: nis client configuration
 This script will make the node ready for nis.
