Package: ganglia-client
Version: 0.0.1
Depends: ganglia-monitor
Replaces: ganglia-monitor
Essential: no
Priority: standard
Section: corvix
Maintainer: Gerolf Ziegenhain <gerolf@corvix.eu>
Homepage: corvix.eu
Architecture: all
Description: ganglia
 -
