# Localization
d-i     debian-installer/country        string US
d-i     debian-installer/locale         string en_US.UTF-8
d-i     debian-installer/console-keymaps-at    string de

# Setup via DHCP
d-i netcfg/choose_interface select eth0
d-i netcfg/dhcp_timeout string 60
d-i netcfg/get_hostname string unassigned-hostname
d-i netcfg/get_hostname seen true
d-i netcfg/get_domain string unassigned-domain
d-i netcfg/get_domain seen true
d-i netcfg/dhcp_options select Retry network autoconfiguration

# Choose a nice mirror
d-i mirror/codename string etch
d-i mirror/country string enter information manually
d-i mirror/http/countries select enter information manually
d-i mirror/http/directory string /debian/
d-i mirror/http/hostname string ftp.de.debian.org
d-i mirror/http/proxy string
d-i apt-setup/non-free boolean true
d-i apt-setup/contrib boolean true


#d-i preseed/early_command string 

# User stuff
d-i passwd/make-user boolean false
d-i passwd/root-password password root
d-i passwd/root-password-again password root

#Packages 
popularity-contest popularity-contest/participate boolean false
d-i pkgsel/include string openssh-server vim

# Grub
d-i grub-installer/only_debian boolean true
d-i grub-installer/with_other_os boolean true
d-i finish-install/reboot_in_progress note


# Use debian-multimedia.org
d-i apt-setup/local0/repository string ftp://debian.netcologne.de/debian-multimedia.org etch main
d-i apt-setup/local0/comment string Debian Multimedia - http://www.debian-multimedia.org
d-i apt-setup/local0/source boolean true
d-i apt-setup/local0/key string http://corvix.eu/key/debian-multimedia.txt

# Use corvix.eu
#d-i apt-setup/local1/comment string corvix GNU/Linux - http://corvix.eu
#d-i apt-setup/local1/repository string http://corvix.eu testing ware meta
#d-i apt-setup/local1/key string http://corvix.eu/key/corvix.txt

#Packages 
tasksel tasksel/first multiselect standard
popularity-contest popularity-contest/participate boolean false
d-i pkgsel/include string openssh-server vim corvix 



# Clock
d-i clock-setup/utc boolean true
d-i time/zone string Europe/Berlin
d-i clock-setup/ntp boolean true
#d-i clock-setup/ntp-server string ntp.example.com


d-i   preseed/run string ../classes.sh
