Package: queue-client
Version: 0.0.1
Depends: torque, maui
Essential: no
Priority: standard
Section: corvix
Maintainer: Gerolf Ziegenhain <gerolf@corvix.eu>
Homepage: corvix.eu
Architecture: all
Description: cluster queue client
 -
