Package: corvix-filesystems
Version: 0.0.1
Depends: sshfs, dosfstools, e2fsprogs, mtools, mbr, syslinux, mkisofs, cryptsetup, mdadm, nfs-common, dvd+rw-tools
Essential: no
Priority: standard
Section: corvix
Maintainer: Gerolf Ziegenhain <gerolf@corvix.eu>
Homepage: corvix.eu
Architecture: all
Description: filesystem utils
 -
