Package: corvix-gpx
Version: 0.0.1
Depends: gpscorrelate-gui, merkaartor, gpsbabel, marble, josm, josm-plugins
Essential: no
Priority: standard
Section: corvix
Maintainer: Gerolf Ziegenhain <gerolf@corvix.eu>
Homepage: corvix.eu
Architecture: all
Description: gpx stuff
 -
