Package: corvix-printer
Version: 0.0.3
Depends: cups-bsd, cups, mpage, cups-multipage
Essential: no
Priority: standard
Section: corvix
Maintainer: Gerolf Ziegenhain <gerolf@corvix.eu>
Homepage: corvix.eu
Architecture: all
Description: Printing Utilities
 Printing stuff.
