Package: clusterlogin
Version: 0.0.1
Depends: firehol
Essential: no
Priority: standard
Section: corvix
Maintainer: Gerolf Ziegenhain <gerolf@corvix.eu>
Homepage: corvix.eu
Architecture: all
Description: cluster login server
 -
