Package: corvix-printer
Version: 0.0.1
Depends: cups-bsd, hplip, hpijs, cups
Essential: no
Priority: standard
Section: corvix
Maintainer: Gerolf Ziegenhain <gerolf@corvix.eu>
Homepage: corvix.eu
Architecture: all
Description: Printing Utilities
 Printing stuff.
