Package: corvix-edit
Version: 0.0.5
Depends: aspell-de-alt, aspell-de, texlive-publishers, vim, lyx, texlive-fonts-extra, texlive-pictures, texlive-math-extra, texlive-latex-recommended, texlive-latex-extra, texlive-generic-extra, texlive-fonts-recommended, texlive-font-utils, lgrind, texlive-latex-extra, ekee, openoffice.org, psutils, envelope, ispell,  ingerman, wngerman, texlive-science
Essential: no
Priority: standard
Section: corvix
Maintainer: Gerolf Ziegenhain <gerolf@corvix.eu>
Homepage: corvix.eu
Architecture: all
Description: edit stuff
 -
