Package: debian-mirror
Version: 0.0.2
Depends: apache2, apt-mirror
Replaces: apt-mirror
Essential: no
Priority: standard
Section: corvix
Maintainer: Gerolf Ziegenhain <gerolf@corvix.eu>
Homepage: corvix.eu
Architecture: all
Description: create a debian mirror
 -
