DISPLAY boot.txt

F1 f1.txt
F2 f2.txt
F3 f3.txt
F4 f4.txt

DEFAULT lpi386

PROMPT 1
TIMEOUT 100

# i386 - etch
LABEL eii386
	kernel /boot/i386/etch/linux
	append vga=normal initrd=/boot/i386/etch/debian.gz -- 

LABEL eei386
	kernel /boot/i386/etch/linux
	append priority=low vga=normal initrd=/boot/i386/etch/debian.gz -- 

LABEL eri386
	kernel /boot/i386/etch/linux
	append vga=normal initrd=/boot/i386/etch/debian.gz rescue/enable=true -- 

LABEL epi386
   kernel /boot/i386/etch/linux
   append vga=normal initrd=/boot/i386/etch/debian.gz url=http://corvix.eu/preseed/./etch.cfg console-keymaps-at/keymap=de locale=de_DE interface=eth0 hostname=x domain=x netcfg/dhcp_timeout=60 --

LABEL eai386
   kernel /boot/i386/etch/linux
   append initrd=/boot/i386/etch/debian.gz auto url=hands.com -- 
# i386 - lenny
LABEL lii386
	kernel /boot/i386/lenny/linux
	append vga=normal initrd=/boot/i386/lenny/debian.gz -- 

LABEL lei386
	kernel /boot/i386/lenny/linux
	append priority=low vga=normal initrd=/boot/i386/lenny/debian.gz -- 

LABEL lri386
	kernel /boot/i386/lenny/linux
	append vga=normal initrd=/boot/i386/lenny/debian.gz rescue/enable=true -- 

LABEL lpi386
   kernel /boot/i386/lenny/linux
   append vga=normal initrd=/boot/i386/lenny/debian.gz url=http://corvix.eu/preseed/./lenny.cfg console-keymaps-at/keymap=de locale=de_DE interface=eth0 hostname=x domain=x netcfg/dhcp_timeout=60 --

LABEL lai386
   kernel /boot/i386/lenny/linux
   append initrd=/boot/i386/lenny/debian.gz auto url=hands.com -- 
# i386 - sid
LABEL sii386
	kernel /boot/i386/sid/linux
	append vga=normal initrd=/boot/i386/sid/debian.gz -- 

LABEL sei386
	kernel /boot/i386/sid/linux
	append priority=low vga=normal initrd=/boot/i386/sid/debian.gz -- 

LABEL sri386
	kernel /boot/i386/sid/linux
	append vga=normal initrd=/boot/i386/sid/debian.gz rescue/enable=true -- 

LABEL spi386
   kernel /boot/i386/sid/linux
   append vga=normal initrd=/boot/i386/sid/debian.gz url=http://corvix.eu/preseed/./sid.cfg console-keymaps-at/keymap=de locale=de_DE interface=eth0 hostname=x domain=x netcfg/dhcp_timeout=60 --

LABEL sai386
   kernel /boot/i386/sid/linux
   append initrd=/boot/i386/sid/debian.gz auto url=hands.com -- 
# amd64 - etch
LABEL eiamd64
	kernel /boot/amd64/etch/linux
	append vga=normal initrd=/boot/amd64/etch/debian.gz -- 

LABEL eeamd64
	kernel /boot/amd64/etch/linux
	append priority=low vga=normal initrd=/boot/amd64/etch/debian.gz -- 

LABEL eramd64
	kernel /boot/amd64/etch/linux
	append vga=normal initrd=/boot/amd64/etch/debian.gz rescue/enable=true -- 

LABEL epamd64
   kernel /boot/amd64/etch/linux
   append vga=normal initrd=/boot/amd64/etch/debian.gz url=http://corvix.eu/preseed/./etch.cfg console-keymaps-at/keymap=de locale=de_DE interface=eth0 hostname=x domain=x netcfg/dhcp_timeout=60 --

LABEL eaamd64
   kernel /boot/amd64/etch/linux
   append initrd=/boot/amd64/etch/debian.gz auto url=hands.com -- 
# amd64 - lenny
LABEL liamd64
	kernel /boot/amd64/lenny/linux
	append vga=normal initrd=/boot/amd64/lenny/debian.gz -- 

LABEL leamd64
	kernel /boot/amd64/lenny/linux
	append priority=low vga=normal initrd=/boot/amd64/lenny/debian.gz -- 

LABEL lramd64
	kernel /boot/amd64/lenny/linux
	append vga=normal initrd=/boot/amd64/lenny/debian.gz rescue/enable=true -- 

LABEL lpamd64
   kernel /boot/amd64/lenny/linux
   append vga=normal initrd=/boot/amd64/lenny/debian.gz url=http://corvix.eu/preseed/./lenny.cfg console-keymaps-at/keymap=de locale=de_DE interface=eth0 hostname=x domain=x netcfg/dhcp_timeout=60 --

LABEL laamd64
   kernel /boot/amd64/lenny/linux
   append initrd=/boot/amd64/lenny/debian.gz auto url=hands.com -- 
# amd64 - sid
LABEL siamd64
	kernel /boot/amd64/sid/linux
	append vga=normal initrd=/boot/amd64/sid/debian.gz -- 

LABEL seamd64
	kernel /boot/amd64/sid/linux
	append priority=low vga=normal initrd=/boot/amd64/sid/debian.gz -- 

LABEL sramd64
	kernel /boot/amd64/sid/linux
	append vga=normal initrd=/boot/amd64/sid/debian.gz rescue/enable=true -- 

LABEL spamd64
   kernel /boot/amd64/sid/linux
   append vga=normal initrd=/boot/amd64/sid/debian.gz url=http://corvix.eu/preseed/./sid.cfg console-keymaps-at/keymap=de locale=de_DE interface=eth0 hostname=x domain=x netcfg/dhcp_timeout=60 --

LABEL saamd64
   kernel /boot/amd64/sid/linux
   append initrd=/boot/amd64/sid/debian.gz auto url=hands.com -- 
