Package: corvix-base
Version: 0.0.3
Depends: unzip, zsh, grub, debootstrap, fakeroot, finger, most, ntpdate, leo, createpass, rbackup
Essential: no
Priority: standard
Section: corvix
Maintainer: Gerolf Ziegenhain <gerolf@corvix.eu>
Homepage: corvix.eu
Architecture: all
Description: basis stuff
 -
