Package: testi
Version: 1.2.3
Priority: standard
Section: corvix
Maintainer: Gerolf Ziegenhain <gerolf@corvix.eu>
Homepage: http://corvix.eu
Architecture: all
Description: Send sms from commandline using sipgate.de
 Not working yet! Script has to be inserted.
