Package: nis-server
Version: 0.0.1
Depends: nis
Essential: yes
Priority: standard
Section: corvix
Maintainer: Gerolf Ziegenhain <gerolf@corvix.eu>
Homepage: corvix.eu
Architecture: all
Description: nis server configuration
 This script will make the server ready for nis.
