Package: corvix-coding
Version: 0.0.1
Depends: gcc, g++, build-essential, git, subversion, cvs, hg, autoconf, qgit, module-assistant, git-cvs, git-svn, git-core, fftw-dev, fftw2, uml-utilities
Essential: no
Priority: standard
Section: corvix
Maintainer: Gerolf Ziegenhain <gerolf@corvix.eu>
Homepage: corvix.eu
Architecture: all
Description: coding stuff
 -
