Package: corvix
Version: 0.0.3
Depends: ssh, vim, zsh, grub, unzip, finger, most, ntpdate, leo, createpass, rbackup
Essential: yes
Priority: standard
Section: corvix
Maintainer: Gerolf Ziegenhain <gerolf@corvix.eu>
Homepage: corvix.eu
Architecture: all
Description: essential 
 -
