Package: corvix
Version: 0.0.10
Pre-Depend: debconf (>= 0.2.17)
Depends: ssh, vim, zsh, grub, unzip, finger, most, ntpdate, leo, createpass, rbackup, gawk, psmisc
Essential: yes
Priority: standard
Section: corvix
Maintainer: Gerolf Ziegenhain <gerolf@corvix.eu>
Homepage: corvix.eu
Architecture: all
Description: essential 
 -
