Package: corvix-ham
Version: 0.0.1
Depends: minimorse, fldigi, grig, libhamlib++-dev, libhamlib-dev, libhamlib-utils, libhamlib-doc
Essential: yes
Priority: standard
Section: corvix
Maintainer: Gerolf Ziegenhain <gerolf@corvix.eu>
Homepage: corvix.eu
Architecture: all
Description: hamradio stuff
 -
