Package: mailserver
Version: 0.0.1
Depends: exim4, exim4-config
Essential: no
Priority: standard
Section: corvix
Maintainer: Gerolf Ziegenhain <gerolf@corvix.eu>
Homepage: corvix.eu
Architecture: all
Description: mailserver
 -
