body  { 
   margin: 1em 8% 1em 10%;
   line-height: 1.2;
}
img   { 
   border: 0;
   width: 200px;
   text-align: center; 
}

table {
/*   background: lightgray;*/
}

a                 { color:#aa0000; text-decoration:none; }
a:active, a:hover { text-decoration: underline; }

h1, h2, h3, h4 {
   color: #000099;
}

body h1, body h2, body h3, body h4 {
   line-height: 1.3;
   margin-left: 0;
}

body h1, body h2 {
   margin: .8em 0 0 -4%;
}

body h3, body h4 {
   margin: .8em 0 0 -3%;
}

body pre {
   margin: .75em 0;
   line-height: 1.0;
   font-family: monospace;
   background: lightgray;
}

body div {
   margin 0;
}


.file {
   color: #007a00;
}

.legal {
   margin-top: 50px;
   font-size: small;
   font-variant: small-caps;
}   

