body  { 
   left:2.5%; right:2.5%; position:absolute; 
   COLOR:#222; background: #eee; 
   TEXT-ALIGN: left; 
   FONT-FAMILY: "Minion Pro", Georgia, "Times New Roman", Times, serif; 
   FONT-SIZE: 14px;
}

td { FONT-FAMILY: "Minion Pro", Georgia, "Times New Roman", Times, serif;  FONT-SIZE: 14px; }

img   { border:0; }
 
a                 { color:#aa0000; text-decoration:none; }
a:active, a:hover { text-decoration: underline; }

a.eng:after       { content:url(./img/english.png); border:0; }
a.ger:after       { content:url(./img/german.png); border:0; }

div.header        { left:12.5%; position:absolute; width:75%; text-align:left; vertical-align:middle; }

div.menue         { text-align:left; padding-top:4pt; font-size:14px; border:0 0 0 0; margin:0 0 0 0; }
a.menue           { color:#222; text-decoration: none; padding:2pt; }
a.menue:hover     { color:#666; text-decoration:underline; /*border-bottom:#666 2px solid; */ }

div.title         { text-align: center; font-size: 32px; font-weight: normal; letter-spacing: -1pt; border-bottom:#222 1px solid; height:26pt; }

h1 { 
   position:relative;  
   text-align:left; 
   vertical-align:middle; 
   border-bottom:#222 1px dotted;
   font-size: 32px;
   font-weight: normal;
/*   border-top:#222 1px solid; */
}
/*h2 { font-size:18px; font-weight:normal; background:#333; color:#eee; width:50%; }*/
h2 { font-size:18px; font-weight:normal; width:50%; position:relative; border-bottom:#222 1px dotted; }
h3 { font-size:16px; font-weight:normal; position:relative; }
   
table             { width:90%; table-layout:fixed; vertical-align:top;}

div.topnav        { text-align:center; font-size:14px; border:0 0 0 0; margin:0 0 0 0; padding: 0 0 0 0;}
a.topnav          { text-align:center; }
